#Intro {
  height: 85vh;
  background-image: url(./Assets/Images/background4.jpg);
  opacity: 100%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 24pt;
  font-style: normal;
  font-size: 24pt;
  padding: 4%;
}
#heading {
  color: lightcyan;
}
#description {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 19pt;

  text-align: left;
  color: lightcyan;
}

#profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
.Images {
  height: 200px;
  width: 200px;
}

.container-1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Playfair Display", serif;
  font-size: 15pt;
  font-weight: 500;
  gap: 20px;
}
#Showcase a{
  color: darkcyan;
}

#Showcase {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  color: darkblue;
  background-color: whitesmoke;
}

.link a {
  color:aquamarine;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 18pt;
}
#project_section {
  background: linear-gradient(-45deg, #ff3c01, #2155e4, #23a6d5, #23b1d5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
#project_section{
  color: aqua;
}
.More-details {
  text-align: left;
}

.projects_container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.p {
  font-family: "Playfair Display", serif;
  font-size: 25pt;
  font-weight: 500;
  margin-top: 3%;

}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color :whitesmoke;
  height: 30vh;
}
.footer-container{
  display: flex;
  justify-content: center;
}
.contact{
  font-size: 14pt;
  word-spacing: 2px;
}
.contact a{
  text-decoration: none;
  color: #23a6d5;
}



